---
layout: default
title: twig
excerpt: A simple Open Source lineart iconset
class: front
---

<section class='hero'>
  <div class='wrapper'>
    <header class='header'>
      <h1>{{ page.title }}</h1>
      <p>{{ page.excerpt }}</p>
      <a href='https://github.com/Wiredcraft/twig/archive/{{ site.release }}.zip' class='button'>Download {{ site.release }}</a>
    </header>
    <ul class='icons'>
      {% for icon in site.data.icons %}
      <li class='twig-24'>&#x{{ icon.code }}; <span>{{ icon.file }}</span></li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class='section'>
  <div class='wrapper'>
    {% capture include %}{% include how.md %}{% endcapture %}
    {{ include | markdownify }}
    <table>
      <thead>
        <th>Icon</th>
        <th>File</th>
        <th>Code</th>
        <th>HTML</th>
      </thead>
      <tbody>
        {% for icon in site.data.icons %}
        <tr>
          <td class='twig-16'>&#x{{ icon.code }};</td>
          <td>{{ icon.file }}.svg</td>
          <td><code>\{{ icon.code }}</code></td>
          <td><code>&amp;#x{{ icon.code }};</code></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section class='section'>
  <div class='wrapper'>
    {% capture include %}{% include why.md %}{% endcapture %}
    {{ include | markdownify }}
  </div>
</section>
