#content {
  .header {
    text-align: center;
  }
  .hero {
    @include background-image( linear-gradient(0deg, mix($blue, $purple) 0%, $purple 80%) );
    color: #FFF;
    padding: 2*$gutter 0;
    .header {
      margin-bottom: 2*$gutter;
      h1 {
        color: #FFF;
        @include font-size($gigantic);
      }
      p {
        color: tint($purple, 60%);
        @include font-size($larger);
      }
      .button {
        border-radius: 2*$gutter;
        @include font-size($larger);
        margin-top: 2*$gutter;
        padding: $gutter 1.5*$gutter;
      }
    }
    ul {
      @include clearfix;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include box-sizing(border-box);
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        float: left;
        padding: 1.5*$gutter 0;
        width: 12.5%;
        text-align: center;
        @include tooltip(top, #FFF, true);
        @include transition-property(color, font-size);
        @include transition-duration($ease);
        &:hover {
          color: #FFF;
          @include font-size($large);
        }
        span {
          color: $black;
        }
      }
    }
  }
  .twig-24 {
    @include font-size(24);
  }
  .twig-16 {
    @include font-size(16);
  }
}

.section {
  padding: 2*$gutter 0;
  h2 {
    margin-bottom: 2*$gutter;
    text-align: center;
  }
}

table {
  width: 100%;
}
