/* Bourbon */

@import 'bourbon';

/* Variables (colors, layout, spacing & typography) */

@import 'modules/_variables';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$headline: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pico: 10;
$micro: 11;
$small: 12;
$smaller: 14;
$normal: 18;
$larger: 24;
$large: 32;
$huge: 48;
$gigantic: 64;
$width: 720px;

/* Normalize.css */

@import 'vendor/_normalize';

/* Mixins & Extends */

@import 'modules/_font';
@import 'modules/_icon';
@import 'modules/_arrow';
@import 'modules/_tooltip';
@import 'modules/_form';
@import 'modules/_button';
@import 'modules/_dropdown';
@import 'modules/_responsive';

/* Styles */

@import 'default/_general';
@import 'default/_code';
@import 'default/_buttons';
@import 'default/_table';

/* Icons */

@include icon('twig-16');
@include icon('twig-24');

/* Partials */

@import 'partials/_header';
@import 'partials/_content';
@import 'partials/_footer';
