html {
  @include breakpoint(mobile) {
    font-size: 57%;
  }
  @include breakpoint(tablet) {
    font-size: 59%;
  }
  @include breakpoint(desktop) {
    font-size: 62.5%;
  }
}

body {
  color: $black;
  font-family: $sans;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  &:hover {
    color: shade($blue, 10%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $headline;
  font-weight: 600;
  line-height: 140%;
  margin: 0 0 $gutter;
}

h1 {
  @include font-size($huge);
}

h2 {
  @include font-size($large);
}

h3,
h4,
h5,
h6 {
  @include font-size($normal);
}

p {
  margin: 0 0 $gutter;
}

ul,
ol {
  margin: 0 0 $gutter/2 $gutter;
  padding: 0;
  li {
    padding: 0 0 $gutter/2;
  }
  ul,
  ol {
    margin-bottom: 0;
    li {
      padding: $gutter/2 0 0;
    }
  }
}

small {
  @include font-size($small);
}

.wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 90%;
  width: $width;
}
