table {
  margin: 0 0 $gutter;
  th {
    padding: $gutter/4 $gutter/2;
  }
  td {
    padding: $gutter/2;
  }
  th,
  td {
    &:first-child {
      padding-left: $gutter/4;
    }
    &:last-child {
      padding-right: $gutter/4;
    }
  }
  thead {
    color: $grey;
    @include font-size($small);
    th {
      font-weight: normal;
      white-space: nowrap;
    }
  }
  tbody {
    tr {
      border-top: 1px solid $line;
      @include transition-property(border);
      @include transition-duration($ease);
      &:last-child {
        border-bottom: 1px solid $line;
      }
    }
  }
}
