<!doctype html>
<html>
<head>
  {% if enforce_ssl %}{% include favicons.html %}{% endif %}

  <link rel='canonical' href='{{ site.url }}{{ site.baseurl }}{{ page.url }}'/>

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <meta charset='utf-8'/>
  <meta http-equiv='Content-Language' content='en'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <meta name='keywords' content='{{ site.keywords | join: ', ' }}{% if page.tags %}, {{ page.tags | join: ', ' }}{% endif %}'/>
  <meta name='description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | escape }}{% else %}{{ site.description }}{% endif %}'>

  <!-- Social cards (sharing on LinkedIn, Facebook & Twitter) -->
  {% include cards.html %}

  <!-- Favicons -->
  {% include favicons.html %}

  <!-- CSS -->
  <link rel='stylesheet' href='{{ site.url }}{{ site.baseurl }}/assets/styles.css?{{ site.build }}'>

  <!-- RSS -->
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ site.baseurl }}/atom.xml' />
</head>

<body{% if page.class %} class='{{ page.class }}'{% endif %}>
  <header id='header'>
    {% include header.html %}
  </header>

  <section id='content'>
    {{ content }}
  </section>

  <footer id='footer'>
    {% include footer.html %}
  </footer>
<!-- 
  <div id='overlay'>
    <div id='modal'>
      <header class='header'>
        <a class='close'><span>Close</span></a>
        <h1>Subscribe to our newsletter</h1>
      </header>
    </div>
  </div> -->

  <!-- JS -->
  <!-- <script src='//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js'></script> -->
  <script src='{{ site.url }}{{ site.baseurl }}/assets/scripts.js?{{ site.build }}' type='text/javascript'></script>
  <!--[if lt IE 9]><script src='https://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <!-- {% if site.gauges %}{% include gauges.html %}{% endif %}
  {% if site.google_analytics %}{% include google_analytics.html %}{% endif %} -->
</body>
</html>
